{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}The Electrum Archive Seer assistant{% endblock title %}
{% block content %}
<h1>Welcome to the Electrum Archive Seer assistant</h1>

<p>The Electrum Archive is a science-fantasy roleplaying game by Emiel Boven & Ava Islam</p>



<p><a target="blank" href="https://www.lulu.com/shop/adam-hensley/monolith/paperback/product-9gpmgz.html?q=monolith&page=1&pageSize=4">Buy a Print Copy from Lulu ( $7.86 + shipping; Price is at-cost, meaning Adam doesn't make a profit.)</a>
</p>

<p>This tool is developped independently from the game, and is provided "as is".</p>
{% endblock content %}
